In [1]:
import numpy as np 
import pandas as pd

In [2]:
movies = pd.read_csv('data/tmdb_5000_movies.csv')
credits = pd.read_csv('data/tmdb_5000_credits.csv')

In [3]:
movies

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [4]:
credits

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [5]:
movies = movies.merge(credits,on='title')

In [6]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

## Popular df

In [7]:
#movies.info()

In [8]:
popular_df = movies[['movie_id','title','genres','popularity','vote_average','vote_count']]

In [9]:
import ast
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [10]:
popular_df['genres'] = popular_df['genres'].apply(convert)

/tmp/ipykernel_21568/1236044533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popular_df['genres'] = popular_df['genres'].apply(convert)

In [11]:
popular_df = popular_df.sort_values('vote_count', ascending=False)
popular_df[:5]

,movie_id,title,genres,popularity,vote_average,vote_count
96,27205,Inception,"[Action, Thriller, Science Fiction, Mystery, A...",167.583710,8.1,13752
65,155,The Dark Knight,"[Drama, Action, Crime, Thriller]",187.322927,8.2,12002
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",150.437577,7.2,11800
16,24428,The Avengers,"[Science Fiction, Action, Adventure]",144.448633,7.4,11776
788,293660,Deadpool,"[Action, Adventure, Comedy]",514.569956,7.4,10995

In [12]:
popular_df['genres']

96      [Action, Thriller, Science Fiction, Mystery, A...
65                       [Drama, Action, Crime, Thriller]
0           [Action, Adventure, Fantasy, Science Fiction]
16                   [Science Fiction, Action, Adventure]
788                           [Action, Adventure, Comedy]
                              ...
4690                                             [Horror]
4313                                             [Comedy]
4562                                       [Crime, Drama]
4506                                  [Thriller, Mystery]
4125                                                   []
Name: genres, Length: 4809, dtype: object

In [13]:
'Action' in popular_df['genres'][0]

True

In [14]:
popular_df['genres'].explode().unique()

array(['Action', 'Thriller', 'Science Fiction', 'Mystery', 'Adventure',
       'Drama', 'Crime', 'Fantasy', 'Comedy', 'Western', 'Romance',
       'Family', 'Animation', 'War', 'History', 'Horror', 'Music',
       'TV Movie', 'Documentary', 'Foreign', nan], dtype=object)

In [15]:
'Action' in popular_df['genres'][0]

True

In [16]:
unique_genres = list(set(popular_df['genres'].explode()))
unique_genres.remove(np.nan)
unique_genres

['Thriller',
 'Western',
 'Animation',
 'Comedy',
 'Family',
 'TV Movie',
 'Horror',
 'Fantasy',
 'Romance',
 'War',
 'Documentary',
 'Drama',
 'Music',
 'History',
 'Adventure',
 'Crime',
 'Foreign',
 'Science Fiction',
 'Mystery',
 'Action']

In [17]:
unique_genres[1] in popular_df['genres'][0]

False

In [18]:
popular_df['genres'][0]

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [19]:
genres_group={}
for genre in unique_genres:
    #genres_group={}
    if genre in popular_df.iloc[0]['genres']:
        genres_group[genre] = {}
        genres_group[genre]['movie_id']=popular_df.iloc[0]['movie_id']
        genres_group[genre]['title']=popular_df.iloc[0]['title']
print(genres_group)

{'Thriller': {'movie_id': 27205, 'title': 'Inception'}, 'Adventure': {'movie_id': 27205, 'title': 'Inception'}, 'Science Fiction': {'movie_id': 27205, 'title': 'Inception'}, 'Mystery': {'movie_id': 27205, 'title': 'Inception'}, 'Action': {'movie_id': 27205, 'title': 'Inception'}}

In [20]:
genres_group={}
for genre in unique_genres:
    if genre in popular_df.iloc[0]['genres']:
        genres_group[genre] = {}
        genres_group[genre]['movie_id'] = []
        genres_group[genre]['title'] = []
        genres_group[genre]['movie_id'].append(popular_df.iloc[0]['movie_id'])
        genres_group[genre]['title'].append(popular_df.iloc[0]['title'])
print(genres_group)

{'Thriller': {'movie_id': [27205], 'title': ['Inception']}, 'Adventure': {'movie_id': [27205], 'title': ['Inception']}, 'Science Fiction': {'movie_id': [27205], 'title': ['Inception']}, 'Mystery': {'movie_id': [27205], 'title': ['Inception']}, 'Action': {'movie_id': [27205], 'title': ['Inception']}}

### This is not the correct format


##### write above for entire dataframe

```
genres_group = {}
for genre in unique_genres:
    genres_group[genre] = {}
    genres_group[genre]['movie_id'] = []
    genres_group[genre]['title'] = []
    
    for i in range(len(popular_df)):
        if genre in popular_df.iloc[i]['genres']:
            genres_group[genre]['movie_id'].append(popular_df.iloc[i]['movie_id'])
            genres_group[genre]['title'].append(popular_df.iloc[i]['title'])
        
#print(genres_group)

```

### our desired format is
```
{
'Action':[{movie_id:'title'},{movie_id:'title'},{movie_id:'title'}],
'Documentary':[{movie_id:'title'},{movie_id:'title'},{movie_id:'title'}],
'Crime':[{movie_id:'title'},{movie_id:'title'},{movie_id:'title'}],
'Animation':[{movie_id:'title'},{movie_id:'title'},{movie_id:'title'}]
}

```

In [21]:
## write above for entire dataframe

genres_group={}
for genre in unique_genres:
    genres_group[genre] = []
    for i in range(len(popular_df)):
        if genre in popular_df.iloc[i]['genres']:
            movie_dict = {}
            movie_id = popular_df.iloc[i]['movie_id']
            movie_dict[movie_id] = popular_df.iloc[i]['title']
            
            genres_group[genre].append(movie_dict)
        
#print(genres_group)

In [22]:
len(genres_group)

20

In [23]:
len(unique_genres)

20

In [24]:
len(genres_group['Action'])

1156

In [25]:
genres_group['Action'][0].keys()

dict_keys([27205])

In [26]:
m0_id =list(genres_group['Action'][0].keys())[0]

In [27]:
genres_group['Action'][0][m0_id]

'Inception'

In [28]:
m3_id = list(genres_group['Action'][3].keys())[0]

In [29]:
genres_group['Action'][3][m3_id]

'The Avengers'

In [30]:
## But, we want list of movies for a selected genere

for i in range(len(genres_group['Action'])):
    m_id = list(genres_group['Action'][i].keys())[0]
    #print(m_id)

In [31]:
def get_movie_details(genre):
    movie_ids = []
    movie_titles = []
    for i in range(len(genres_group[genre])):
        m_id = list(genres_group[genre][i].keys())[0]
        m_title = genres_group[genre][i][m_id]
        
        movie_ids.append(m_id)
        movie_titles.append(m_title)

    return movie_ids,movie_titles

In [32]:
#get_movie_details('Action')

In [33]:
list(popular_df[:10]['title'])

['Inception',
 'The Dark Knight',
 'Avatar',
 'The Avengers',
 'Deadpool',
 'Interstellar',
 'Django Unchained',
 'Guardians of the Galaxy',
 'The Hunger Games',
 'Mad Max: Fury Road']

In [34]:
list(popular_df[:10]['movie_id'])

[27205, 155, 19995, 24428, 293660, 157336, 68718, 118340, 70160, 76341]

In [35]:
import pickle
pickle.dump(popular_df,open('../artifacts/popular_df.pkl','wb'))
pickle.dump(genres_group,open('../artifacts/genres_group.pkl','wb'))

## Content-based filtering

In [36]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [37]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [38]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [39]:
movies.dropna(inplace=True)

In [40]:
movies.duplicated().sum()

0

In [41]:
movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [42]:
movies['genres'][0][0]

'['

In [43]:
type(movies['genres'][0])

str

#### `genres` is in the `str`, we have to convert it into `list`

In [44]:
import ast
temp_obj = ast.literal_eval(movies['genres'][0])
print(type(temp_obj))
temp_obj

<class 'list'>

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [45]:
temp_obj[0]

{'id': 28, 'name': 'Action'}

In [46]:
def convert_temp(obj):
    x = ast.literal_eval(obj)
    return x

In [47]:
x = movies['genres'].apply(convert_temp)
x

0       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
1       [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3       [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
                              ...
4804    [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4805    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
4806    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4807                                                   []
4808                  [{'id': 99, 'name': 'Documentary'}]
Name: genres, Length: 4806, dtype: object

In [48]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [49]:
movies['genres'] = movies['genres'].apply(convert)

In [50]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [51]:
movies['keywords'] = movies['keywords'].apply(convert)

In [52]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [53]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [54]:
movies['cast'] = movies['cast'].apply(convert3)

In [55]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [56]:
movies.cast

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [57]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [58]:
movies['crew'].apply(fetch_director)

0                                [James Cameron]
1                               [Gore Verbinski]
2                                   [Sam Mendes]
3                            [Christopher Nolan]
4                               [Andrew Stanton]
                          ...
4804                          [Robert Rodriguez]
4805                              [Edward Burns]
4806                               [Scott Smith]
4807                               [Daniel Hsia]
4808    [Brian Herzlinger, Jon Gunn, Brett Winn]
Name: crew, Length: 4806, dtype: object

In [59]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [60]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [61]:
type(movies['overview'][0])

str

In [62]:
type(movies['title'][0])

str

In [63]:
type(movies['movie_id'][0])

numpy.int64

In [64]:
# convert the 'overview' column to list
movies['overview'] = movies['overview'].apply(lambda x:x.split())

#### If there is any space between the name of a element of List, will remove

In [65]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [66]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [67]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]

#### Now, we will concatenate `overview`,`genres`,`keywords`,`cast`,`crew`

In [68]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [69]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."

In [70]:
new_df = movies[['movie_id','title','tags']]
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [71]:
from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()

In [72]:
def stem(text):
    y=[]
    for i in text:
        y.append(stemmer.stem(i))
    return " ".join(y)

In [73]:
stem(new_df['tags'][0])

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [74]:
new_df['tags'] = new_df['tags'].apply(stem)

/tmp/ipykernel_21568/3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [75]:
#new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [76]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [77]:
new_df.shape

(4806, 3)

In [78]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [79]:
cv.fit_transform(new_df['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [80]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [81]:
vectors.shape

(4806, 5000)

In [82]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [83]:
from sklearn.metrics.pairwise import cosine_similarity

In [84]:
cosine_similarity(vectors)

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [85]:
similarity = cosine_similarity(vectors)

In [86]:
similarity

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [87]:
similarity.shape

(4806, 4806)

In [88]:
similarity[0]

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ])

#### create the recommendation function

In [89]:
new_df[new_df['title']=='Avatar']

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a parapleg marin is dispa...

In [90]:
new_df[new_df['title']=='Avatar'].index[0]

0

In [91]:
sorted(similarity[0],reverse=True)[:5]

[1.0000000000000002,
 0.28676966733820225,
 0.26901379342448517,
 0.2605130246476754,
 0.255608593705383]

In [92]:
list(enumerate(similarity[0]))[:5]

[(0, 1.0000000000000002),
 (1, 0.08346223261119858),
 (2, 0.08603090020146065),
 (3, 0.0734718358370645),
 (4, 0.1892994097121204)]

In [93]:
# But sorting happens according to 1st element in the tuple, but we want on the basis of 2nd element
sorted(list(enumerate(similarity[0])),reverse=True)[:5]

[(4805, 0.0),
 (4804, 0.0),
 (4803, 0.04499212706658476),
 (4802, 0.046829290579084706),
 (4801, 0.019252140716412975)]

In [94]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x: x[1])[:5]

[(0, 1.0000000000000002),
 (1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383)]

In [95]:
d = sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x: x[1])[1:6]
d

[(1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.25038669783359574)]

In [96]:
d[0][0]

1216

In [97]:
new_df.title[d[0][0]]

'Aliens vs Predator: Requiem'

In [98]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [99]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [100]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [101]:
recommend('Black Swan')

The Godfather
The Godfather: Part III
Dead Man Down
Amidst the Devil's Wings
Easy Money

In [102]:
recommend('Shutter Island')

The Good German
10th & Wolf
Gone Girl
Interview with the Assassin
Dragonfly

In [103]:
recommend('Knight and Day')

Silver Medalist
The Helix... Loaded
Johnny English
Sahara
Cars 2

### `recommend` function should also return movie_id

In [104]:
def recommend(movie):
    movies = []
    movie_id = []
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[:6]:
        movies.append(new_df.iloc[i[0]].title)
        movie_id.append(new_df.iloc[i[0]].movie_id)
        
    return movies,movie_id

In [105]:
recommend('Knight and Day')

(['Knight and Day',
  'Silver Medalist',
  'The Helix... Loaded',
  'Johnny English',
  'Sahara',
  'Cars 2'],
 [37834, 33106, 43630, 9486, 7364, 49013])

In [106]:
import os
os.makedirs('../artifacts',exist_ok=True)

In [107]:
new_df.to_csv('../artifacts/new_df.csv',index=False)

In [108]:
pd.read_csv('../artifacts/new_df.csv')

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4801,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4802,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4803,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4804,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4805,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [109]:
import pickle
pickle.dump(similarity,open('../artifacts/similarity.pkl','wb'))

## try to fetch poster

In [110]:
import requests

url = "https://api.themoviedb.org/3/movie/550?api_key=879d1be008918a158ad109a08fd6d820"
response = requests.get(url)

data = response.json()
print(data)

{'adult': False, 'backdrop_path': '/hZkgoQYus5vegHoetLkCJzb17zJ.jpg', 'belongs_to_collection': None, 'budget': 63000000, 'genres': [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}, {'id': 35, 'name': 'Comedy'}], 'homepage': 'http://www.foxmovies.com/movies/fight-club', 'id': 550, 'imdb_id': 'tt0137523', 'original_language': 'en', 'original_title': 'Fight Club', 'overview': 'A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground "fight clubs" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.', 'popularity': 88.495, 'poster_path': '/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg', 'production_companies': [{'id': 508, 'logo_path': '/7cxRWzi4LsVm4Utfpr1hfARNurT.png', 'name': 'Regency Enterprises', 'origin_country': 'US'}, {'id': 711, 'logo_path': '/tEiIH5QesdheJmDAqQwvtN60727.png', 'name': 'Fox 2000 Pictures', 'origin_country': 'US'}, {'id': 20555, 'logo_path': '/hD8yEGUBlHOcfHYbujp71vD8gZp.png', 'name': 'Taurus Film', 'origin_country': 'DE'}, {'id': 54051, 'logo_path': None, 'name': 'Atman Entertainment', 'origin_country': ''}, {'id': 54052, 'logo_path': None, 'name': 'Knickerbocker Films', 'origin_country': 'US'}, {'id': 4700, 'logo_path': '/A32wmjrs9Psf4zw0uaixF0GXfxq.png', 'name': 'The Linson Company', 'origin_country': 'US'}, {'id': 25, 'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png', 'name': '20th Century Fox', 'origin_country': 'US'}], 'production_countries': [{'iso_3166_1': 'US', 'name': 'United States of America'}], 'release_date': '1999-10-15', 'revenue': 100853753, 'runtime': 139, 'spoken_languages': [{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}], 'status': 'Released', 'tagline': 'Mischief. Mayhem. Soap.', 'title': 'Fight Club', 'video': False, 'vote_average': 8.434, 'vote_count': 26450}

In [111]:
path = data['poster_path']
full_path = 'https://image.tmdb.org/t/p/w780' + path
full_path

'https://image.tmdb.org/t/p/w780/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg'

### Write function to fetch poster

In [112]:
import requests

def poster_fetch(movie_id):
    full_paths = []
    for _id in movie_id:
        url = "https://api.themoviedb.org/3/movie/{}?api_key=879d1be008918a158ad109a08fd6d820".format(_id)
        response = requests.get(url)
        data = response.json()
        
        path = data['poster_path']
        full_path = 'https://image.tmdb.org/t/p/w780' + path
        full_paths.append(full_path)
        
    return full_paths

In [113]:
movies,ids = recommend('Knight and Day')
ids

[37834, 33106, 43630, 9486, 7364, 49013]

In [114]:
poster_image_urls = poster_fetch(ids)
poster_image_urls

['https://image.tmdb.org/t/p/w780/a7JmOBMNj5erYTgt4u1mQgvHItu.jpg',
 'https://image.tmdb.org/t/p/w780/ggTqQBLLiDx2MRBp4q3hOPsXDcV.jpg',
 'https://image.tmdb.org/t/p/w780/xPK6ntsJzPcdsxZwcCUIP5jBKP0.jpg',
 'https://image.tmdb.org/t/p/w780/lx3Y7teA6DaoQ6cIhwzrlnDZpFW.jpg',
 'https://image.tmdb.org/t/p/w780/kyY1onYxkKBDlJsheRsVbMaoQEM.jpg',
 'https://image.tmdb.org/t/p/w780/okIz1HyxeVOMzYwwHUjH2pHi74I.jpg']

In [115]:
#new_df['title'].tolist()