In [1]:
import numpy as np 
import pandas as pd

In [2]:
import os
os.getcwd()

'/home/kousik/ABC_OTHERS/campusx/movie-recommender-system-tmdb-dataset/movie_recommender/notebooks'

In [3]:
google_movie = pd.read_csv('../artifacts/google_movie.csv')
google_movie

      movie_id                                     title release_date
0        19995                                    Avatar   2009-12-10
1          285  Pirates of the Caribbean: At World's End   2007-05-19
2       206647                                   Spectre   2015-10-26
3        49026                     The Dark Knight Rises   2012-07-16
4        49529                               John Carter   2012-03-07
...        ...                                       ...          ...
4798      9367                               El Mariachi   1992-09-04
4799     72766                                 Newlyweds   2011-12-26
4800    231617                 Signed, Sealed, Delivered   2013-10-13
4801    126186                          Shanghai Calling   2012-05-03
4802     25975                         My Date with Drew   2005-08-05

[4803 rows x 3 columns]

In [4]:
google_movie.isnull().sum()

movie_id        0
title           0
release_date    1
dtype: int64

In [5]:
google_movie[google_movie['release_date'].isnull()]

      movie_id                       title release_date
4553    380097  America Is Still the Place          NaN

In [6]:
np.isnan(google_movie.iloc[4553]['release_date'])

True

In [7]:
google_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      4803 non-null   int64
 1   title         4803 non-null   object
 2   release_date  4802 non-null   object
dtypes: int64(1), object(2)
memory usage: 112.7+ KB

In [8]:
google_movie['release_date'] = pd.to_datetime(google_movie['release_date'])

In [9]:
google_movie['year'] = google_movie['release_date'].dt.year

In [10]:
google_movie

      movie_id                                     title release_date    year
0        19995                                    Avatar   2009-12-10  2009.0
1          285  Pirates of the Caribbean: At World's End   2007-05-19  2007.0
2       206647                                   Spectre   2015-10-26  2015.0
3        49026                     The Dark Knight Rises   2012-07-16  2012.0
4        49529                               John Carter   2012-03-07  2012.0
...        ...                                       ...          ...     ...
4798      9367                               El Mariachi   1992-09-04  1992.0
4799     72766                                 Newlyweds   2011-12-26  2011.0
4800    231617                 Signed, Sealed, Delivered   2013-10-13  2013.0
4801    126186                          Shanghai Calling   2012-05-03  2012.0
4802     25975                         My Date with Drew   2005-08-05  2005.0

[4803 rows x 4 columns]

In [11]:
google_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      4803 non-null   int64
 1   title         4803 non-null   object
 2   release_date  4802 non-null   datetime64[ns]
 3   year          4802 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 150.2+ KB

In [12]:
# make a title_url column from `title` column, in which we will replace space with `%20`  
google_movie['title_url'] = google_movie['title'].str.replace(' ', '%20')

In [13]:
google_movie

,movie_id,title,release_date,year,title_url
0,19995,Avatar,2009-12-10,2009.0,Avatar
1,285,Pirates of the Caribbean: At World's End,2007-05-19,2007.0,Pirates%20of%20the%20Caribbean:%20At%20World's...
2,206647,Spectre,2015-10-26,2015.0,Spectre
3,49026,The Dark Knight Rises,2012-07-16,2012.0,The%20Dark%20Knight%20Rises
4,49529,John Carter,2012-03-07,2012.0,John%20Carter
...,...,...,...,...,...
4798,9367,El Mariachi,1992-09-04,1992.0,El%20Mariachi
4799,72766,Newlyweds,2011-12-26,2011.0,Newlyweds
4800,231617,"Signed, Sealed, Delivered",2013-10-13,2013.0,"Signed,%20Sealed,%20Delivered"
4801,126186,Shanghai Calling,2012-05-03,2012.0,Shanghai%20Calling
4802,25975,My Date with Drew,2005-08-05,2005.0,My%20Date%20with%20Drew

In [14]:
google_movie.iloc[0]['year']

2009.0

In [15]:
np.isnan(google_movie.iloc[0]['year'])

False

In [16]:
google_movie.iloc[0].index

Index(['movie_id', 'title', 'release_date', 'year', 'title_url'], dtype='object')

In [17]:
def create_google_url(row):
    if 'year' in row.index and not pd.isnull(row['year']):
        return f"https://www.google.com/search?q={row['title_url']}+{row['year']}+film"
    else: 
        return f"https://www.google.com/search?q={row['title_url']}+film"

    
google_movie['google_url'] = google_movie.apply(create_google_url, axis=1)

In [22]:
google_movie

,movie_id,title,release_date,year,title_url,google_url
0,19995,Avatar,2009-12-10,2009.0,Avatar,https://www.google.com/search?q=Avatar+2009.0+...
1,285,Pirates of the Caribbean: At World's End,2007-05-19,2007.0,Pirates%20of%20the%20Caribbean:%20At%20World's...,https://www.google.com/search?q=Pirates%20of%2...
2,206647,Spectre,2015-10-26,2015.0,Spectre,https://www.google.com/search?q=Spectre+2015.0...
3,49026,The Dark Knight Rises,2012-07-16,2012.0,The%20Dark%20Knight%20Rises,https://www.google.com/search?q=The%20Dark%20K...
4,49529,John Carter,2012-03-07,2012.0,John%20Carter,https://www.google.com/search?q=John%20Carter+...
...,...,...,...,...,...,...
4798,9367,El Mariachi,1992-09-04,1992.0,El%20Mariachi,https://www.google.com/search?q=El%20Mariachi+...
4799,72766,Newlyweds,2011-12-26,2011.0,Newlyweds,https://www.google.com/search?q=Newlyweds+2011...
4800,231617,"Signed, Sealed, Delivered",2013-10-13,2013.0,"Signed,%20Sealed,%20Delivered","https://www.google.com/search?q=Signed,%20Seal..."
4801,126186,Shanghai Calling,2012-05-03,2012.0,Shanghai%20Calling,https://www.google.com/search?q=Shanghai%20Cal...
4802,25975,My Date with Drew,2005-08-05,2005.0,My%20Date%20with%20Drew,https://www.google.com/search?q=My%20Date%20wi...

In [23]:
google_movie.iloc[4]['google_url']

'https://www.google.com/search?q=John%20Carter+2012.0+film'

In [27]:
google_movie[google_movie['title'] == 'Avatar']['google_url']

0    https://www.google.com/search?q=Avatar+2009.0+...
Name: google_url, dtype: object

In [33]:
google_movie[google_movie['title'] == 'Avatar']['google_url'].values[0]

'https://www.google.com/search?q=Avatar+2009.0+film'

In [ ]:
list(google_movie[google_movie['title'] == 'Avatar']['google_url'])

['https://www.google.com/search?q=Avatar+2009.0+film']

In [25]:
google_movie.to_csv('../artifacts/google_url_df.csv',index=False)